<div id="<%= dom_id colaborator %>">
  <p>
    <strong>Name:</strong>
    <%= colaborator.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= colaborator.email %>
  </p>

  <p>
    <strong>Direction:</strong>
    <%= colaborator.direction %>
  </p>

</div>
