<h1>Editing colaborator</h1>

<%= render "form", colaborator: @colaborator %>

<br>

<div>
  <%= link_to "Show this colaborator", @colaborator %> |
  <%= link_to "Back to colaborators", colaborators_path %>
</div>
